.App {
	/* position: relative; */
	font-family: "Nanum Gothic", sans-serif;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	text-align: center;
	background: linear-gradient(333deg, #3279d5, #1bd195);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 25s ease infinite;
	-moz-animation: AnimationName 25s ease infinite;
	animation: AnimationName 25s ease infinite;
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 19% 0%;
	}
	50% {
		background-position: 82% 100%;
	}
	100% {
		background-position: 19% 0%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 19% 0%;
	}
	50% {
		background-position: 82% 100%;
	}
	100% {
		background-position: 19% 0%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 19% 0%;
	}
	50% {
		background-position: 82% 100%;
	}
	100% {
		background-position: 19% 0%;
	}
}

.main {
	display: flex;
	justify-content: center;
}

.header {
	position: absolute;
	top: 15px;
	right: 15px;
}

form {
	margin: 20px 0;
}

/* button {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 25px;
	background-image: linear-gradient(
		to right,
		#4b5861 0%,
		#26a0da 51%,
		#314755 100%
	);
	outline: none;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	border: none;
	cursor: pointer;
} */

input {
	outline: none;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid rgb(100, 96, 96);
	border-radius: 4px;
	margin: 15px;
	font-size: 16px;
	font-weight: bold;
	width: 300px;
	text-align: center;
	transition: width 0.18s ease-in-out;
}
input:focus {
	width: 350px;
}
.login-header {
	font-size: 50px;
	font-family: "Original Surfer", cursive;
}
/* button:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
} */

.player-score {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 0 auto;
	padding: 5px;
	align-content: center;
}

.first {
	font-size: 16px;
	border: 2px solid gold;
	font-weight: bold;
	margin-bottom: 5px;
}
.second {
	font-size: 16px;
	border: 2px solid silver;
	font-weight: bold;
	margin-bottom: 5px;
}
.third {
	font-size: 16px;
	border: 2px solid rgb(230, 127, 59);
	font-weight: bold;
	margin-bottom: 5px;
}

.question-options {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
}

.rating-group {
	display: inline-flex;
	margin-bottom: 15px;
}
.rating__icon {
	pointer-events: none;
}
.rating__input {
	position: absolute !important;
	left: -9999px !important;
}
.rating__label {
	cursor: pointer;
	padding: 0 0.1em;
	font-size: 2rem;
}
.rating__icon--star {
	color: orange;
}
.rating__icon--none {
	color: #eee;
}

.rating__input--none:checked + .rating__label .rating__icon--none {
	color: red;
}

.rating__input:checked ~ .rating__label .rating__icon--star {
	color: #ddd;
}
.rating-group:hover .rating__label .rating__icon--star {
	color: orange;
}
.rating__input:hover ~ .rating__label .rating__icon--star {
	color: #ddd;
}

.rating-group:hover
	.rating__input--none:not(:hover)
	+ .rating__label
	.rating__icon--none {
	color: #eee;
}

.rating__input--none:hover + .rating__label .rating__icon--none {
	color: red;
}
