.App {
	position: relative;
	font-family: "Nanum Gothic", sans-serif;
}

body {
	min-height: 100vh;
	text-align: center;
	background: #3399ff;
}

.ripple-background {
	position: fixed;
	bottom: 0;
}

.circle {
	position: absolute;
	border-radius: 50%;
	background: white;
	animation: ripple 15s infinite;
	box-shadow: 0px 0px 1px 0px #508fb9;
	z-index: -1;
}

.small {
	width: 150px;
	height: 150px;
	left: -75px;
	bottom: -75px;
}

.medium {
	width: 300px;
	height: 300px;
	left: -150px;
	bottom: -150px;
}

.large {
	width: 450px;
	height: 450px;
	left: -225px;
	bottom: -225px;
}

.xlarge {
	width: 600px;
	height: 600px;
	left: -300px;
	bottom: -300px;
}

.xxlarge {
	width: 750px;
	height: 750px;
	left: -375px;
	bottom: -375px;
}

.shade1 {
	opacity: 0.2;
}
.shade2 {
	opacity: 0.5;
}

.shade3 {
	opacity: 0.7;
}

.shade4 {
	opacity: 0.8;
}

.shade5 {
	opacity: 0.9;
}

@keyframes ripple {
	0% {
		transform: scale(0.8);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(0.8);
	}
}

.main {
	display: flex;
	justify-content: center;
}

.header {
	position: sticky;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 5px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	background-color: #e7f3ff;
}

button {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 25px;
	background-image: linear-gradient(
		to right,
		#4b5861 0%,
		#26a0da 51%,
		#314755 100%
	);
	outline: none;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	border: none;
	cursor: pointer;
}

input {
	/* background-color: #487a9981; */
	outline: none;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid rgb(100, 96, 96);
	border-radius: 4px;
	box-sizing: border-box;
	margin: 15px;
	font-size: 16px;
	font-weight: bold;
	/* color: rgb(192, 188, 188); */
}
.login-header {
	font-size: 40px;
	font-family: "Original Surfer", cursive;
}
button:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.player-score {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 0 auto;
	padding: 5px;
	align-content: center;
}

.first {
	font-size: 16px;
	border: 2px solid gold;
	font-weight: bold;
	margin-bottom: 5px;
}
.second {
	font-size: 16px;
	border: 2px solid silver;
	font-weight: bold;
	margin-bottom: 5px;
}
.third {
	font-size: 16px;
	border: 2px solid rgb(230, 127, 59);
	font-weight: bold;
	margin-bottom: 5px;
}

.question-options {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
}

.rating-group {
	display: inline-flex;
	margin-bottom: 15px;
}
.rating__icon {
	pointer-events: none;
}
.rating__input {
	position: absolute !important;
	left: -9999px !important;
}
.rating__label {
	cursor: pointer;
	padding: 0 0.1em;
	font-size: 2rem;
}
.rating__icon--star {
	color: orange;
}
.rating__icon--none {
	color: #eee;
}

.rating__input--none:checked + .rating__label .rating__icon--none {
	color: red;
}

.rating__input:checked ~ .rating__label .rating__icon--star {
	color: #ddd;
}
.rating-group:hover .rating__label .rating__icon--star {
	color: orange;
}
.rating__input:hover ~ .rating__label .rating__icon--star {
	color: #ddd;
}

.rating-group:hover
	.rating__input--none:not(:hover)
	+ .rating__label
	.rating__icon--none {
	color: #eee;
}

.rating__input--none:hover + .rating__label .rating__icon--none {
	color: red;
}
